@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&family=Pacifico&display=swap');
@font-face {
    font-family:hanged_letters;
    src: url('fontes/Hanged\ Letters.ttf') format('truetype');
}
:root{
    --cor1:#FF0101;
    --cor2:#BF0000;
    --cor3:#800000;
    --cor4:#400000;
}
body{
    margin:0px;
    background:rgb(252, 252, 252) url('../Imagens/LanaRhoades.gif') center center no-repeat fixed;
    background-size: cover;
}
/*background-image: linear-gradient(to bottom,#400000,#800000,#BF0000,#FF0101);*/
/*
    header{
    background-image: linear-gradient(to bottom,rgba(64, 0, 0, 0.516),rgba(128, 0, 0, 0.516),rgba(191, 0, 0, 0.516),rgba(255, 1, 1, 0.516));
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}*/
header{
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}
header h1{
    margin-top: 0px;
    text-align: center;
    font-family: 'hanged_letters', Arial, Helvetica, sans-serif ;
    color: red;
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: red;
}
nav a{
    font-weight: bolder;
}
header  nav{
    text-indent: 50px;
    color: #ff0101;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 25px;
}
nav a:hover{
    background-color:#0602D9;
    color: #FF0101;
    border-radius: 20px;
    transition-duration: 0.2s;
}
nav a:active{
    color: #0602D9;
    background-color: transparent;
    transition-duration: 0.2s;
}
main{
    text-align: center;

    display: block;
    width: auto;
    height: auto;
    border-radius: 50px;
    margin: auto;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    padding: auto;
    font-size: 25px;
    Color:#ff0101;

}
main h1 {
    font-family: 'hanged_letters', Arial, Helvetica, sans-serif ;
    font-size: 40px;
    font-style: oblique;
}
main p{
    font-family: 'Architects Daughter', Arial, Helvetica, sans-serif;
    color:#FF0101;
 }

main h2 {
    font-family: 'hanged_letters', Arial, Helvetica, sans-serif ;
    font-size: 40px;
    font-style: oblique;
}
main h3{
    font-family: 'hanged_letters', Arial, Helvetica, sans-serif ;
    font-size: 40px;
    font-style: oblique;
}

main h4 {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 40px;
    font-style: oblique;
}
main img {
    width: 50%;
    height: 50%;
}
footer{
    background-image: linear-gradient(to bottom,#400000,#800000,#BF0000,#FF0101);
    margin: 0px;
    border-radius: 10px 10px 0px 0px;
}
footer h3{
    margin-bottom: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
footer:hover h3{
    text-shadow: 0px 0px 4px white;
}
footer a{
    color: white;
}
footer  p{
    margin:0px;
    text-align: right;
}