@charset "UTF-8";
body{
    height: 97vh;
    background: black url('../meusteste/87ea54d7bf2fe640dc34db35c82cacad.gif') center center no-repeat fixed;
    background-size: cover;
}
main{
    border: 1px solid black;
    background-color: white;
    text-align: center;
    margin:auto;
    max-width: 700px;
}
main p{
    text-align: justify;
    text-indent: 5px;
}