@charset "UTF-8";
@font-face {
    font-family:'idroid' ;
    src: url(fontes/idroid.otf) format('opentype') ; 
}
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&family=Dancing+Script&family=Pacifico&family=Shippori+Antique+B1&display=swap');
body{
    background-color: lightgreen;
    margin: 0px;
    color: white;
}
.cabecalho{
    text-align: center;
    margin: 0px;
    border-top: 10px solid green;
}
header{
    background-color:green;
    border: 2px solid green;
    border-top: 15px;
    
}
#h1{
    border: auto solid green;
    font-family: "Bebas neue";
}
#h2{
    border: auto solid green;
    text-align: center;
}
p {
    border-top: 10px solid  green;
    margin: 0px;
}

a:hover{
    background-color: lightgreen;
    border-radius: 5px;
    color: black;
}
main{
    text-align: center;
    background-color: white;
    color: black;
    height: 500px;
    margin: auto;
    border-left: auto solid white;
    margin: 0px 90px;
}
main {
    margin: 0px;
    text-align: left;
    border: 5px solid white;
    text-indent: 10px;
}
.paragrafo{
    border-top-width: 0px;
    text-align: left;
    text-indent: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.links{
    text-decoration: none;
    color:green;
    background-color: lightgreen;
}
abbr{
    text-decoration: none;
}
article{
    background-color: white;
    box-shadow: 1px 1px 4px 1px black;
    padding: 10px;
}
picture{
    text-align: center;
}
p > a{
    text-decoration: none;
    color: white;
    text-align: left;
    background-color: green;
}
span{
    background-color: #90ee90;
}
.fonte{
    font-family: 'idroid';
    background-image: linear-gradient(to right, #90ee90, #F5F5F5);
    color: #027502;
}
#fonte{
    font-family: 'idroid';
    font-size: 30px;
    color: #027502;
}
#tag{
    border:auto solid #90ee90;
    background-color: #90ee90;
    border-radius: 40px;
    height: auto;
    width: auto;
    margin: auto;
}
section{
    background-color: white;
    margin-bottom: 10px;
    border:30px solid white;
    box-shadow: 1px 5px 4px 1px black;
    border-radius: 0px 0px 40px 40px;
}
.inverso {
    text-align: right;
    border-top-width: 0px;
    height: 0px;
}
article > h3{
    background-color: #027502;
    border-radius: 40px;
}
h4{
    color: white;
}
footer{
    background-color: #027502;
}
