@charset "UTF-8";
@font-face {
    font-family:'hello' ;
    src: url(fontes/Hello.ttf) format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&family=Dancing+Script&family=Pacifico&family=Shippori+Antique+B1&display=swap');
:root{
    
    --cor1:#D0D9E0;
    --cor2:#BFC3C7;
    --cor3:#939699;
    --cor4:#4E5357;
    --cor5:#454647;
    
    --fonte-personalizada:'Bebas Neue',arial, cursive, verdana;

}
body{
   margin: 0px;
   background-color: var(--cor3);  
}
header{
    margin: auto;
}
header > h1{
    font-family: 'hello';
    font-size: 40px;
    color: white;
    font-style: italic;
    margin: 0px;
    border: 10px solid black;
    background-color: black;
    text-align: center;
}
header > h1:hover{
    text-shadow: 2px 0px 4px white;
}
nav{
    background-color: black;
    border-radius: 0px 0px 110px 110px;
}
nav > p{
    text-align: left;
    font-size: 20px;
    text-indent: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
}
p > a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
    background-color: white;
    border-radius: 40px;
}
a:active{
    color: white;
    background-color: black;
}
main{
    background-color: var(--cor2);
    margin: 0px 10px 0px 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 3px black;
}
article{
    text-align: center;
    background-color: var(--cor2);
    border-radius: 10px 10px 100px 100px;
    box-shadow: 0px 0px 4px black;
    color:black;
}
main h1{
    margin: 0px;
    text-shadow: 1px 1px 4px black;
    color: white;
    font-family: var(--fonte-personalizada);
    text-decoration: underline;
}
main h2{
    margin: 5px 0px 0px 0px;
    text-shadow: 1px 1px 4px black;
    color: white;
    font-family: var(--fonte-personalizada);
}
main p{
    padding: 20px 0px;
}
main img{
    width: 20%;
    max-width: 236px;
    min-width: 190px;   
}
abbr{
    padding-left: 25%;
}
.direita{
    text-align: right;
    height: 0px;
    margin: 0px;
}
.esquerda{
    text-align: left;
    height: 0px;
    margin: 0px;
}